html {
	head {
	}
	body {
		#content {
			ul {
				li {}
				li {}
				li {}

				/*
				{{
					for (var i = 0; i < items.length; ++i) {
						var item = items[i];
						{{
							li {
								{{item.name}}
							}
						}}
					}
				}}
				*/
			}
		}
	}
}
